<!DOCTYPE html>
<html>
<head>
    <title>Нотатки</title>
</head>
<body>
    <h1>Мої нотатки</h1>

    {% for note in notes %}
        <div>
            <h2>{{ note.title }}</h2>
            <p>{{ note.text }}</p>
            <p><strong>Категорія:</strong> {{ note.category.title }}</p>

            {% if note.reminder %}
                <p><em>Нагадування: {{ note.reminder }}</em></p>
            {% endif %}
        </div>
        <hr>
    {% empty %}
        <p>Нотаток поки немає</p>
    {% endfor %}
</body>
</html>